.typeDenunciasComponentContainer{
    border: solid 3px var(--blue);
    margin:1%;
    padding: 1%;
    border-radius: 8px;
    text-align: left;
}

.typeDenunciasComponentContainer h1{
    font-family: 'madaniArabicSemiBold';
    font-size: 2rem;
}

.typeDenunciasComponentContainer p{
    font-family: 'madaniArabicLight';
    font-size: 1rem;
}


.formDenunciaComiteEtica{
    padding:1%
}

.problemDecription{
    font-family: 'madaniArabicBold';
    text-align: left;
    font-size: 1.5rem;

}

.twoInputsContainer{
    display: flex;
}

.formDenuncaInput{
    width: 100%;
    margin:5px;
    border-radius: 5px;
    border: 2px solid var(--blue);
    outline: none;
    font-family: 'madaniArabicLight';
    font-size: 1.2rem;
}

.advertenciaAnonimato{
    font-family: 'madaniArabicBold';
    text-align: left;
    font-size: 1.0rem;
    color: var(--navyBlue);
    margin-top: 10px;
}