.ubicationContainer{
    width: 100%;
    height: 45vh;
    background-color: var(--navyBlue);
    display: flex;
}

.direccionMap{
    width: 60%;
}

.addressAndRedesContainer{
    width: 40%;
    padding: 2vh 2vh 0% 2vh;
    text-align: left;
}
.addressAndRedesContainer h3{
    font-size: 1.5vh;
    color:white;
    font-weight: bolder;
    margin-bottom: 0px;
    font-family: 'madaniArabicBold';
}                                      
.addressAndRedesContainer p{
    font-size: 1.5vh;
    color:white;
    margin: 0px;
    line-height: none;
    font-family: 'madaniArabicLight';
}


.addressContainer{
    width: 100%;
    height: 10vh;
    /* background-color: pink; */
}

.redesImgContainer{
    height: 20vh;
    /* background-color: blue; */
    text-align: center;
    padding-top: 5vh
}

.visualCapabilitiesContainer{
    height: 10vh;
}

.visualCapabilitiesContainer p{
    font-family: 'madaniArabicLight';
}

/* TABLET OR MOBILE */
@media (max-width: 500px) {
    .ubicationContainer{
        width: 100%;
        height: auto;
        background-color: var(--navyBlue);
        display: block;
    } 
    
    
    .direccionMap{
        width: 100%;
    }
    
    .addressAndRedesContainer{
        width: 100%;
        padding: 2vh 2vh 0% 2vh;
        text-align: left;
    }
}